.inputDiv{
    position: relative;
    padding-bottom: 12px;
}
.inputDiv label{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    text-transform: capitalize;
    font-weight: 600;
}
.inputDiv input,.inputDiv textarea{
    padding: 10px 12px;
    width: 100%;
}
