@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Poppins", sans-serif;
}
.header {
  max-width: 1440px;
  height: 72px;
  margin: 0 auto;
}
.contact {
  max-width: 1440px;
  max-height: calc(100vh - 72px);
  overflow: hidden;
  margin: 0 auto;
  padding:20px 200px;
}
.contact h1{
  font-size: 3em;
  font-weight: 900;
}
.contact p{
  color: rgb(77, 76, 76);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.form-section{
  display: flex;
  gap: 100px;
  font-weight: 600;
}

.form-input{
  padding-top: 30px;
  max-width: min-content;
}
.form-input-btn{
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}
.form-input-btn div {
  display: flex;
  margin-bottom: 12px;
  gap: 20px;
}
.form-input-btn div button{
  padding: 8px 16px;
  flex-basis: 50%;
  font-weight: 600;
  border-radius: 5px;background-color: black;
  color: white;
}
.form-input-btn  button{
  padding: 8px 16px;
  flex-basis: 50%;
  font-weight: 600;
  border-radius: 5px;background-color: white;
}
.form-intup-form{
  position: relative;
  margin-top: 20px;
}
.form-intup-form input,textarea{
  width: 100%;
  margin-bottom: 16px;
  padding: 10px 8px;
}
.form-intup-form label {
  position: absolute;
  background-color: white;
  padding: 0 3px ;
  left: 10px;
}

/* Specific positions for each label */
.form-intup-form label[for="name"] {
  top: -10px;
}

.form-intup-form label[for="email"] {
  top: 47px;
}

.form-intup-form label[for="text"] {
  top: 102px;
}
.form-intup-form input[type="submit"]{
  max-width: 48%;
  float: right;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 5px;background-color: black;
  color: white;
}
.form-section img{
  width: 100%;
}
